test.json
{
  "name": "Simple Resume Screener - Gemini",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-screener",
        "responseMode": "lastNode",
        "options": {
          "binaryData": true
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "propertyName": "jd"
      },
      "name": "JD PDF Extract",
      "type": "n8n-nodes-base.pdfExtract",
      "typeVersion": 1,
      "position": [420, 150]
    },
    {
      "parameters": {
        "operation": "splitOutItems",
        "propertyName": "resumes"
      },
      "name": "Split Resumes",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [420, 450]
    },
    {
      "parameters": {
        "propertyName": "resumes"
      },
      "name": "Resume PDF Extract",
      "type": "n8n-nodes-base.pdfExtract",
      "typeVersion": 1,
      "position": [620, 450]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent?key=YOUR_GEMINI_API_KEY",
        "method": "POST",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"You are an ATS resume screener. Respond ONLY in JSON.\\n\\nJob Description:\\n{{$node['JD PDF Extract'].json.text}}\\n\\nResume:\\n{{$json.text}}\\n\\nReturn JSON exactly like this:\\n{\\n  \\\"percentage_match\\\": number,\\n  \\\"matching_skills\\\": [],\\n  \\\"missing_skills\\\": [],\\n  \\\"recommendation\\\": \\\"Best Fit | Average Fit | Not Fit\\\"\\n}\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "name": "Gemini Match",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [840, 450]
    },
    {
      "parameters": {
        "functionCode": "const result = $json.candidates[0].content.parts[0].text;\nconst data = JSON.parse(result);\n\nlet category = \"Not Fit\";\nif (data.percentage_match >= 75) category = \"Best Fit\";\nelse if (data.percentage_match >= 50) category = \"Average Fit\";\n\nreturn {\n  resume: $binary.resumes.fileName,\n  percentage_match: data.percentage_match,\n  matching_skills: data.matching_skills,\n  missing_skills: data.missing_skills,\n  final_category: category\n};"
      },
      "name": "Score Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1060, 450]
    },
    {
      "parameters": {
        "mode": "combine"
      },
      "name": "Combine All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1260, 450]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "options": {
          "fileName": "resume_results.csv"
        }
      },
      "name": "Create CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [1460, 450]
    },
    {
      "parameters": {
        "responseBody": "={{ { status: 'success', file: 'resume_results.csv' } }}"
      },
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1660, 450]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "JD PDF Extract", "type": "main", "index": 0 },
          { "node": "Split Resumes", "type": "main", "index": 0 }
        ]
      ]
    },
    "Split Resumes": {
      "main": [[{ "node": "Resume PDF Extract", "type": "main", "index": 0 }]]
    },
    "Resume PDF Extract": {
      "main": [[{ "node": "Gemini Match", "type": "main", "index": 0 }]]
    },
    "Gemini Match": {
      "main": [[{ "node": "Score Logic", "type": "main", "index": 0 }]]
    },
    "Score Logic": {
      "main": [[{ "node": "Combine All", "type": "main", "index": 0 }]]
    },
    "Combine All": {
      "main": [[{ "node": "Create CSV", "type": "main", "index": 0 }]]
    },
    "Create CSV": {
      "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]]
    }
  }
}
